@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.example-spacer {
    flex: 1 1 auto;
  }

.link:hover{
    cursor: pointer;
}

.link{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.media-none{
  
  font-family: 'Pacifico', cursive;
}


.prefer-label{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-transform: lowercase;

}

mat-toolbar{
  height: 100px;
}

.svg-heart{
  color: red;
}

@media(max-width:500px){

  mat-toolbar{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin: 0;
    height: 150px;
    gap: 0;
    align-items: center;
    justify-content: center;
  }

  .media-none{
    display: none;
  }

  .link{
    margin-bottom:16px;
  }

}