a{
    text-decoration: none;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: rgb(249, 112, 139);
    transition: 0.3s;
}

.example-icon:hover{
    color: rgb(249, 112, 139);
    transition: 0.3s;

}