
.example-card {
  width: 400px;
  height: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-actions{
  flex-grow: 1;
  align-items: end !important;
}

.author-card{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-transform: lowercase;
}

.title-card{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: darkcyan;
}